{% extends 'base.html' %}

{% block title %}Tasks{% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %}

{% block content %}

{% if active_shared_tasks %}
<div class="row">
  <div class="col-md-9">
    {% include 'tasks/task_list.html' %}
  </div>
  <div class="col-md-3">
    <div class="d-grid gap-2 mb-4">
      <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSharedTasks" aria-expanded="false" aria-controls="collapseSharedTasks" style="border: 1px solid #f1f2f2;">
          Shared tasks
          <span class="badge rounded-pill bg-primary">
              {{ active_shared_tasks|length }}
              <span class="visually-hidden">shared tasks</span>
          </span>
      </button>
    </div>
    <div class="collapse show" id="collapseSharedTasks">
      {% block shared_tasks %}{% include 'tasks/shared_task_list.html' %}{% endblock shared_tasks %}
    </div>
  </div>
</div>
{% else %}
{% include 'tasks/task_list.html' %}
{% endif %}

{% endblock content %}
